[submodule "environment/HOL"]
	path = environment/HOL
	url = https://github.com/HOL-Theorem-Prover/HOL.git
[submodule "environment/cakeml"]
	path = environment/cakeml
	url = https://github.com/cakeml/cakeml.git
